.two-digit {
    width: 113px;
}

.four-digit {
    width: 134px;
}

.input-group {
  margin: .5rem !important;
}

/*
RAM output
*/

span.ram-byte:hover {
    border: black solid 1px;
    background-color: lightblue;
    margin: 0;
}

.ram-byte.hilight.stack-pointer {
     background-color: blue;
     border: blue solid 1px;
     margin: 0;
}

.ram-byte.hilight-read.stack-pointer {
  background-color: pink;
  border: pink solid 1px;
  margin: 0;
}

.ram-byte.hilight.hilight-read {
  background-color: yellow;
  border: yellow solid 1px;
  margin: 0;
}

.ram-byte.hilight {
    background-color: green;
    border: green solid 1px;
    margin: 0;
}

.ram-byte.hilight-read{
    background-color: red;
    border: red solid 1px;
    margin: 0;
}

.ram-byte.stack-pointer {
    background-color: orange;
    border: orange solid 1px;
    margin: 0;
}

.ram-byte {
    display: inline-block;
    margin: 1px;
}

#RAM-output-div {
    width: 600px;
    height: 450px;
    overflow: scroll;
    cursor: none;
}

#hex-output-textarea,
#RAM-output-div,
#src-output {
  font-family: monospace;
}

#log-output-div {
    width: 550px;
    height: 700px;
    overflow: scroll;
}

.table {
  margin-bottom: 0;
}

th {
  background-color: lightgray !important;
}

#data-registers {
  height: 700px;
  overflow: scroll;
}

#data-registers-table {
  width: 50%;
}

#data-registers-table td td,
#data-registers-table td th {
  text-align: center;
}

#status-registers {
   width: 450px;
   flex-wrap: nowrap;
}

#home label {
  padding-top: 7px;
  width: 25px;
}

#clocks label {
  padding-right: 7px;
  width: unset;
}

#clocks input {
  width: 100px;
  flex: unset;
}

#debug input[type="text"] {
  width: 67px;
  flex: unset;
}

#debug label, #settings label {
  margin: 0 8px;
}


/*
 CEL
*/
.non-illu {
  background-color: black;
}

.illu {
  background-color: red;
}


/*
  Engine
*/

#rect994 {
  display: block;
}

.intake {
  fill: lightblue;
}

.exhaust {
  fill: orange;
}

.compression {
  fill: yellow;
}

.combustion {
  fill: red;
}
