.input-group {
    width: 110px;
}

#RAM-output-div {
    width: 550px;
    height: 350px;
    overflow: scroll;
}

#RAM-output-div > span {
    display: inline-block
}

#log-output-div {
    width: 550px;
    height: 350px;
    overflow: scroll;
}

.hilight.stack-pointer {
     background-color: blue;
}

.hilight {
    background-color: green;
}

.stack-pointer {
    background-color: orange;
}

.hilight-read{
    background-color: red;
}
