.input-group {
    width: 110px;
}

#RAM-output-div {
    width: 550px;
    height: 350px;
    overflow: scroll;
}

#RAM-output-div > span {
    display: inline-block
}

#log-output-div {
    width: 550px;
    height: 700px;
    overflow: scroll;
}

.hilight.stack-pointer {
     background-color: blue;
}

.hilight-read.stack-pointer {
  background-color: pink;
}

.hilight.hilight-read {
  background-color: yellow;
}

.hilight {
    background-color: green;
}

.hilight-read{
    background-color: red;
}

.stack-pointer {
    background-color: orange;
}
.table {
  margin-bottom: 0;
}

.table td {
  padding: 0;
}

#registers-table {
  width: 50%;
}

#registers {
  height: 700px;
  overflow: scroll;
}
